.admin-people-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.admin-people-view vaadin-split-layout {
  width: 100%;
  height: 100%;
}

.admin-people-view vaadin-grid {
  height: 100%;
}

.admin-people-view .editor-layout {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.admin-people-view .editor {
  flex-grow: 1;
  padding: var(--lumo-space-l);
}

.admin-people-view .editor vaadin-checkbox {
  padding-top: var(--lumo-space-m);
}

.admin-people-view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
}

.admin-people-view .grid-wrapper {
  width: 100%;
}


.fab-button {
  position: absolute;
  bottom: var(--lumo-size-m);
  right: var(--lumo-size-xs);
  border-radius: 50%;
  min-width: 0px;
}

@media only screen and (max-width: 600px) {
  .admin-people-view .detail {
    min-width: 100%;
  }
}
